p {
    font-size: 30px;
}

.activity, .affection, .allergic, .children, .dogs, .garden
 {
    color: black;
    height: 3rem;
    width: 15rem;
    text-align: center;
    background-color: lightblue;
    border-radius: 1rem;
}

